.city, .weather, #weather_icon, .title {
	text-align: center;
	vertical-align: center }

.title {
}

.city {
	margin-top: 75px;
}	

.weather {
	margin-top: 25px;
	margin-bottom: 25px;
}

#weather_icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
	}

#credit_line {
	font-size: 10;
	color: fff;
   	margin-top: 175px
     }

