.city, .weather, #weather_icon, .title {
	text-align: center;
	vertical-align: center;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
	 }

.title {
	position:relative;
	top: 20px;
}

.city {
	position:relative;
	top: 110px;
}	

.weather {
	position:relative;
	top: 75px;
}

#weather_icon {
	display: block;
	margin-left: auto;
	margin-right: auto;
	position:relative;
	top: 90px;
	}

#credit_line {
	font-size: 10;
	color: fff;
   	margin-top: 335px
     }

